In [8]:
first_name = "Muhammad Hamza"
last_name = "Aamir"
# Concatination (joining) of two strings
full_name = first_name + " " + last_name

In [18]:
# Case Conversion Methods
print(full_name.upper())
print(full_name.lower())
print(full_name.title())
print(full_name.capitalize())
print(full_name.swapcase())

MUHAMMAD HAMZA AAMIR
muhammad hamza aamir
Muhammad Hamza Aamir
Muhammad hamza aamir
mUHAMMAD hAMZA aAMIR

### Why use .casefold() instead of .lower()?
1. .casefold() is more aggressive than .lower() in handling case differences, especially for languages with special characters.
2. It's useful when comparing strings in a case-insensitive way.

In [17]:
s1 = "stra√üe"   # German word for "street"
s2 = "STRASSE"

print(s1.lower() == s2.lower())    # False
print(s1.casefold() == s2.casefold())  # True (case-insensitive comparison)

False
True

### Searching & Replacing
1. User of .replace() method
2. Use of .find() method

In [32]:
name = "Muhammad Hamza Aamir"
print(name.replace("Hamza", "Omer")) # Muhammad Omer Aamir
print(name.find("Hamza")) # it returns the index of the finding string

Muhammad Omer Aamir
9

### Splitting & Joining
1. use of .split() method
2. use of .join() method

In [31]:
fruits = "apple, banana, cherry"
print(fruits.split(", ")) # ['apple', 'banana', 'cherry']

fruits2 = ["apple", "banana", "cherry"]
print(", ".join(fruits2)) # apple banana cherry

['apple', 'banana', 'cherry']
apple, banana, cherry

### String formatting
1. using f-string (Python 3.6+)
2. using .format() method

In [ ]:
# f-string using double quotes for single line string
name = "Muhammad Hamza Aamir"
age = 21
city = "Rawalpindi"
data = f"My name is {name}. I am {age} years old. I live in {city}."
print(data)

My name is Muhammad Hamza Aamir. I am 21 years old. I live in Rawalpindi.

In [35]:
# f-string using triple double quotes for multi-line string
name = "Muhammad Hamza Aamir"
age = 21
city = "Rawalpindi"
data = f"""My name is {name}. 
I am {age} years old.
I live in {city}."""
print(data)

My name is Muhammad Hamza Aamir.
I am 21 years old.
I live in Rawalpindi.

In [ ]:
# .format() method
name = "Muhammad Hamza Aamir"
age = 21
city = "Rawalpindi"
data = """My name is {}. 
I am {} years old. 
I live in {}.""".format(name, age, city)
print(data)

My name is Muhammad Hamza Aamir.
I am 21 years old.
I live in Rawalpindi.